concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}

permissions: read-all

defaults:
  run:
    shell: bash

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      # Checkout must be onto the original commit, not a single PR.
      # Otherwise lint will not see full history and diagnose secrets leakage.
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Install nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31
      - name: Check format
        run: nix develop --command ./repo.py format --check
      - name: Lint
        run: nix develop --command ./repo.py lint

  test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31
      - name: Test
        run: nix develop --command pytest

name: python_experiments_workflow

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
